// TODO: Import from your design system
// @import 'src/styles/colors';

.fieldWrapper {
  margin-bottom: 12px;
}

.label {
  // Add label styles from design system
}

.required {
  color: red; // TODO: Use design system error color
}

.input {
  padding: 8px;
  width: 300px;
  // TODO: Add design system input styles
}


