@use '@/styles/colors.scss' as *;

.field {
  margin-bottom: 12px;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.legend {
  margin-bottom: 8px;
}

.required {
  color: $error-red;
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

